body {
   background-color: ghostwhite;
}

.document {
   color: black;
   font-size: 18pt;
   margin: 5%;
   font-family: 'Work Sans', system-ui, sans-serif;
}

ul {
   list-style: none;
   line-height: 2;
}

ul li::before {
   content: '➡️ ';
}

ol {
   line-height: 1.5;
}

a {
   color: black;
   text-decoration: underline;
}

a:hover {
   text-decoration: none;
   background-color: gold;
}