* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    widows: 100vw;
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', system-ui, sans-serif;
    font-size: 16px;
    color: black;
    overflow: scroll;
}

.header {
    width: 95vw;
    position: fixed;
    top: 0;
    left: 5px;
    font-size: 3em;
    height: auto;
    margin: 4px;
    padding: 3px;
    color: white;
}

.footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    right: 5px;
    margin: 4px;
    padding: 3px;
    color: white;
    text-align: right;
}

/*text styling*/

ul {
    list-style: none;
}


p {
    text-decoration: underline;

}

p.design {
    color: black;
    font-size: 1em;
    text-decoration: none;
}


a {
    color: white;

}

a:hover {
    background-color: yellow;
    color: red;

}

a.list {
    color: black;
    text-decoration: none;

}

a.list:hover {
    background-color: yellow;
    color: red;
}

/*center box controls */

.container {
    width: auto;
    height: auto;
    background-color: ghostwhite;
    border-style: none;
    border-width: 2px;
    border-color: black;
    text-align: left;
    justify-content: center;
    top: 50%;
    left: 50%;
}

#dv1,
#dv2 {
    display: inline-block;
    width: auto;
    margin: 1px;
    padding: 15px;
    background: ghostwhite;
    justify-content: center;
    text-align: left;
}

/*center box links*/


.in1:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/krazykat.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.in2:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/highweirdness.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.in3:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/protestjazz.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.in4:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/conspiracy.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.in5:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/dogfood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.in6:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/wave.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.in7:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/vanishing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.in8:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/bricks.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.in9:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/acab.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.in10:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/propaganda.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.out1:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/longcons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.out2:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/longcounts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.out3:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/committee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.out4:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/amateurastronomy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.out5:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/deathvalleysailingstones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.out6:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/frenchthirdtier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.out7:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/busterkeaton.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.out8:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/atlantathrashers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.out9:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/vitaminc.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.out10:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/images/running.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body { 
    overflow: scroll;
    }
    
  .header {
    color: black; 
  }
    
    .container{
        visibility: hidden;
        
    }
    
    a{
        color: red;
    }
    
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
   body { 
    overflow: scroll;
    }
  .header {
    color: black; 
}
    
    .container{
        visibility: hidden;
        
    }
    
    a{
        color: red;
    }
}
